{% extends 'base.html.twig' %}

{% block body_class %}
class="banner-bg"
{% endblock %}

{% block modals %}
  {% include "home/modalDelete.html.twig" %}
  {% include "home/modalMedia.html.twig" %}
{% endblock %}

{% block body %}
  <div class="opaque container">
    <div class="row pt-3">
      <article class="trick col-12">
        <div class="trick-header">
          <h2 class="trick-title">{{ trick.name }}</h2>
            {% if trick.images.first %}
            <img src="{{ trick.images.first.link }}" class="img-fluid mx-auto d-block w-100 featured-image mb-3" alt="{{ trick.images.first.alt }}" {% if trick.images.first.title != null %}title="{{ trick.images.first.title }}"{% endif %}>
            {% endif %}
        </div>
        <div class="row media-gallery">
        {% for image in trick.images %}
          <div class="col-2 no-gutters">
            <img src="{{ image.link }}" class="col" alt="{{ image.alt }}" {% if image.title != null %}title="{{ image.title }}"{% endif %}>
            {% if is_granted('ROLE_USER') %}
            <div class="edit-section">
              <a href="{{ path('edit_media', {'mediaId': image.id, 'trickId': trick.id}) }}"><i class="fas fa-pen"></i></a>
              <a href="{{ path('remove_media', {'mediaId': image.id, 'trickId': trick.id}) }}"><i class="fas fa-trash-alt"></i></a>
            </div>
            {% endif %}
            </div>
        {% endfor %}
          <div class="col-2 no-gutters">
            <a class="upload-button" href="{{ path('add_media', {'id': trick.id}) }}"><i class="fas fa-plus-circle"></i></a>
          </div>
        </div>
        <div class="row trick-content justify-content-center mt-4">
          <h2>Édition de la figure</h2>
          {{ form_start(form, {'method': 'POST', 'attr': {'class': "col-10 pb-3"}}) }}
            <div class="error col">
              {{ form_errors(form) }}
            </div>
            <div class="col">
              {{ form_row(form.name) }}
            </div>
            <div class="col">
              {{ form_row(form.description, {'attr': {'rows': "10"}}) }}
            </div>
            <div class="col-4">
              {{ form_row(form.category) }}
            </div>
            <button type="button" class="btn btn-alert" data-toggle="modal" data-target="#modal_delete" data-controller-path="{{ path('remove_trick', {'id': trick.id}) }}">Supprimer</button>
            {{ form_widget(form.save) }}
          {{ form_end(form) }}
        </div>
      </article>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{{ asset('js/modal_delete.js') }}"></script>
{% endblock %}