{% extends 'base.html.twig' %}

{% block body_class %}
class="banner-bg"
{% endblock %}

{% block body %}
  <div class="opaque container mt-5">
    <div class="row pt-3">
      <article class="trick col-12">
        <div class="trick-header">
          <h2 class="trick-title">{{ trick.name }}</h2>
          {% if trick.medias.first %}
          <img src="{{ trick.medias.first.link }}" class="img-fluid mx-auto d-block w-100 featured-image mb-3" alt="{{ trick.medias.first.alt }}" {% if trick.medias.first.title != null %}title="{{ trick.medias.first.title }}"{% endif %}>
        {% endif %}
        </div>
        <div class="row media-gallery">
        {% for media in trick.medias %}
            <img src="{{ media.link }}" class="col-2" alt="{{ media.alt }}" {% if media.title != null %}title="{{ media.title }}"{% endif %}>
        {% endfor %}
        </div>
        <div class="row trick-content mt-4">
          <p class="col-12 text-center px-5">{{ trick.description }}</p>
        </div>
        <div class="row metadata">
          <p class="col-3">Écrit le <span class="badge badge-info">{{ trick.createdAt | date("m/d/Y \\à H:i") }}</span></p>
          <p class="col-3">Par 
            {% for user in trick.users %}
            <span class="badge badge-info">
              {{user.username}}
            </span>
            {% endfor %}
          </p>
          <p class="col-3">Dans la catégorie <span class="badge badge-info">{{ trick.category.name }}</span></p>
        </div>
        <div class="row tchat-section">
          {% include 'home/commentSection.html.twig' %}
        </div>
      </article>
    </div>
  </div>
{% endblock %}